body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background: url(../img/first-bg.jpg) no-repeat center top / cover;
    padding-bottom: 160px;
    /* height: 80vh; */
}

.clearfix::after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}

.container {
    width: 930px;
    margin: 0 auto;
}

.logo {
    margin-top: 41px;
    float: left;
}

nav {
    margin-top: 45px;
    float: right;
}

.menu  {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 45px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

.menu a:hover {
    text-decoration: underline;    
}

.titles__first {
    margin-top: 180px;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 75px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 15px;
}

.button {
    background: #fed136;
    color: #484543;
    border-radius: 3px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px;
}

.button:hover {
    opacity: 0.9;
}

.title {
    text-align: center;
    padding-top: 115px;
    padding-bottom: 60px;
}

.title h2 {
    font-size: 40px;
    font-weight: bold;    
    text-transform: uppercase;
    margin: 0;
}

.title p {
    color: #777777;    
    font-size: 16px;
    margin-top: 5px;
}

/* .services {
    margin-top: 50px;
} */

.services__item {
    width: 270px;
    float: left;
    text-align: center;
    line-height: 1.55em;
}

.services__item h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.services__item p {
    color: #777777;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.services__item:last-child {
    float: right;
}

.services__item:nth-child(2) {
    margin-left: 63px;
}

#portfolio {
    background: #f7f7f7;
    padding-bottom: 120px;
}

#services {
    padding-bottom: 120px;
}

.project {
    padding-bottom: 92px;
}

.project__item__l {
    float: left;
    width: 270px;
    margin-right: 55px;
}

.project__item__l h3 {
    font-size: 14px;
    text-align: right;
    font-weight: bold;
}


.project__item__l p {
    color: #777777;
    text-align: right;  
    line-height: 1.5em;
    font-size: 15px;  
}

.project__item__l:nth-child(2) {
    margin-left: 45px;
}

.project__item__r {
    float: left;
    width: 270px;
    margin-right: 0;
}

.project__item__r h3 {
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}


.project__item__r p {
    color: #777777;
    text-align: left;   
    line-height: 1.5em; 
    font-size: 15px;
}

.project__item__r:first-child {
    margin-left: 372px;
}

footer {
    text-align: center;
    font-size: 15px;
    color: #6e6e6e;
    padding: 0;
    margin: 0;
    padding-bottom: 113px;
}

.pr {
    border-radius: 50%;
    box-shadow: 0 0 6px rgb(182, 182, 182);
}
